In [32]:
from selenium import webdriver
from bs4 import BeautifulSoup
import os
import webbrowser
import cx_Oracle
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
db = conn.cursor()
driver=webdriver.Chrome('C:\\Users\\mjkim\\PythonCode\\chromedriver')

In [34]:
driver.get('http://www.gevolution.co.kr/rank/ios.asp');

top_app_details = driver.find_elements_by_class_name('rank1')

In [35]:
f=open("free_a.txt",'wt',encoding='UTF8')
f2=open("charged_a.txt",'wt',encoding='UTF8')
f3=open("bestseller_a.txt",'wt',encoding='UTF8')
db.execute('create table free_a(name varchar2(300))')
db.execute('create table charged_a(name varchar2(300))')
db.execute('create table bestseller_a(name varchar2(300))')

In [36]:
list1=list()
first_list=list()
second_list=list()
third_list=list()

for app in top_app_details:
    list1.append(app.text+'\n')

In [37]:
sql_insert1 = 'insert into free_a VALUES(:name)'
sql_insert2 = 'insert into charged_a VALUES(:name)'
sql_insert3 = 'insert into bestseller_a VALUES(:name)'
for e in range(150):
    if e%3==0:
        f.write(list1[e])
        db.execute(sql_insert1, name=list1[e])
        conn.commit()
    elif e%3==1:
        f2.write(list1[e])
        db.execute(sql_insert2, name=list1[e])
        conn.commit()
    elif e%3==2:
        f3.write(list1[e])
        db.execute(sql_insert3, name=list1[e])
        conn.commit()


    
f.close()
f2.close()
f3.close()